.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & > img {
    object-fit: cover;
  }
}

.HeartAnimation {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 60px;
  width: 70px;
  margin: 10px -10px auto;
  cursor: pointer;
}

.animate {
  animation: heart-burst 1s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.container {
  position: relative;

  &:hover .like-btn {
    display: inline-block;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .like-btn {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 0;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    border: none;
    right: 0;
  }

  .liked {
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 0;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    border: none;
    right: 0;
  }
}

.modal-form {
  background-color: white;
  padding: 10%;
  box-shadow: 5px 5px 15px -3px #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
